@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

body {
    background-color: #000000;
    color: #4ec9b0;
    font-family: 'Fira Code', monospace;
}

button {
  border-radius: 8px;
  border: 1px solid #92cabd;
  padding: 0.6em 1.2em;
  margin: 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #4ec9b0;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 15px auto;
    padding: 5px;
    border-radius: 12px;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

.square {
    width: 64px;
    height: 64px;
    border: 1px solid black;
    border-radius: 4px;
    position: absolute;
    transition: transform 0.2s ease-in-out;
}